/* Loader.scss */
.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 60px;

  }
  
  .loading-line-container {
    width: 400px;   /* fixed container size */
    height: 6px;
    background: #e0e0e0; // track background
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }
  
  .loading-line {
    width: 30%;
    height: 100%;
    background: #CC0100;
    border-radius: 4px;
    position: absolute;
    animation: moveLine 1.5s infinite linear;
  }
  
  @keyframes moveLine {
    0% {
      left: -30%;
    }
    50% {
      left: 50%;
    }
    100% {
      left: 100%;
    }
  }
  

  @media (max-width: 900px) {
    .loader{
      padding: 20px;
        img{
          width: 80%;
          height: 150px;
        }

      .loading-line-container{
        width: 100%;
      }
    }
  }
  