@import '@/styles/mixins.scss';

.ads {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;

  .title {
    font-size: 40px;
    font-weight: 500;
    text-align: center;

    span {
      color: #CC0100;
    }
  }

  .line {
    width: 300px;
    height: 6px;
    background-color: $primary-color;
    border-radius: 5px;
    margin: 3px;
  }

  .ads-center-card {
    display: none;
  }

  .ads__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    position: relative;

    .ads-center-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 260px;
      height: 260px;
      border-radius: 50%;
      background-color: #CC0100;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      text-align: center;
      z-index: 5;

      p {
        font-size: 20px;
      }
    }
  }

  .ads-card {
    width: 470px;
    height: auto;
    padding: 27px; 
    padding-top: 20px;
    background-color: #292929;
    display: flex;
    flex-direction: column;

    align-items: center;
    border-radius: 30px;
    margin: 30px;
    position: relative;

    .ads-card-icon {
      font-size: 50px;
      color: #CC0100;
      margin: 10px;

    }

    .ads-card-line {
      width: 90px;
      height: 5px;
      background-color: $primary-color;
      border-radius: 5px;
   
    }

    h2 {
      font-size: 25px;
      text-align: center;
      font-weight: 500;

    }

    p {
      font-size: 20px;
      text-align: center;
      padding: 10px;
      margin: 20px 0;
    }
  }


  .ads-card--full {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;

    p{
      font-size: 20px;
    }
  }
}

@media (max-width: 1060px) {
  .ads {
    padding: 5px;

    .ads-center-card {
      width: 300px;
      height: 300px;
      background-color: #CC0100;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
      text-align: center;
      font-weight: 600;
      font-size: 26px;

      img {
        width: 150px;
        height: 70px;
      }
    }

    .ads__container {
      .ads-center-circle {
        display: none;
      }

      .ads-card--full {
        flex-direction: column;
        height: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .ads {
    padding: 5px;

    .title {
      font-size: 30px;
    }

    .line {
      width: 160px;
    }

    .ads-card {
      width: 100%;
      padding: 5px;

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 15px;
      }
    }

    .ads-card--full {
      flex-direction: column;
      height: auto;
    }
    .ads-card-line{
      display: none;
    }
  }
}

