/* Team.scss */
@import '@/styles/mixins.scss';


.team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.team-title{
  font-size: 50px;
  font-weight: 500;
}
span{
  color: #CC0100;
}


.line{
  width: 250px;
  height: 6px; 
  background-color: $primary-color;
  border-radius: 5px;
  margin:3px; 
}

.team__wrapper {
  width: 100%;
  overflow: hidden;
}

.team__container {
  display: flex;
  width: max-content;
  margin-top: 40px ;
  animation: scroll-left 20s linear infinite;
}

.team__track {
  display: flex;
  gap: 20px;

}

.team-card {
  flex: 0 0 auto;
  width: 350px;
  border-radius: 20px;
  background: $primary-color;
  color: white;
  margin: 20px;
}




.team-image{
  
  background-size: cover;
  border-radius: 20px;
}

.team-info{
  width: 100%;
  height: 35%;
  padding: 15px;



}
.team-info h3{
  font-size: 28px;

}
.team-info p{
  font-size: 20px;

}
.team-social{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  .team-btn{
    width: 50px;
    height: 50px;
border: 1px solid white;
    border-radius: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

     

  
  }
  
}


@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}

@media (max-width: 900px) {
.team{

.team-title{
  font-size: 45px;
}
.line{
  width: 60%
}

}

}
@media (max-width: 768px) {
  .team{
  
  .team-title{
    font-size: 37px;
  }
  .line{
    width: 60%
  }
  
  }
  
  }


