.container{
    width:80%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 0;


    .delete-popup{
        width: auto;
        height: 100px;
        background-color: #333;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .edit-btn{
            width: 250px;
            height: 60px;
            border:2px solid white;
            border-radius: 15px;
            margin: 10px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
          }
          .delete-btn{
              width: 250px;
              height: 60px;
              border:2px solid #CC0100;
              border-radius: 15px;
              color: #CC0100;
              margin: 10px;
              font-size: 20px;
              font-weight: 500;
              cursor: pointer;
            }
    }
}